.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    background-color: #0c0b0c;
    color: #fff;
    flex-wrap: wrap;
  }
  
  .footer-section1 {
    margin: 10px;
  }
  
  .footer-section2 {
    margin: 10px;
  }
  
  .footer-section1 h3,
  .footer-section2 h3 {
    margin-bottom: 10px;
  }
  
  .footer-links {
    display: flex;
    flex-direction: column;
  }
  
  .footer-link {
    margin-bottom: 5px;
  }
  
  .social-icons {
    display: flex;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .footer-bottom {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  
  .footer-bottom-links {
    display: flex;
    justify-content: center;
  }
  
  .footer-bottom-link {
    margin: 0 10px;
  }
  